<div class="row">
    <div class="masonary-grids">
        <div class="stats-counter-sec">
            <div ui-sref="dashboard.candidates" class="col-md-3" style="cursor: pointer;">
                <div class="stats-counter">
                    <h3>APPLICANTS</h3>
                    <span>{{ vm.activeCandidatesCount }}</span>
                    <i class="fa fa-users red"></i>
                    <h6>Total Applications: {{ vm.totalCandidates }}</h6>
                </div><!-- Stats Counter -->
            </div>
        </div>
    </div>
</div>

