<div class="login-sec pattern-lock-sec">
    <div class="login">
        <div class="login-form">
            <span></span>
            <h5><strong>ATS</strong> Admin Login</h5>

            <div class="summary">
                <strong>{{vm.message}}</strong>
            </div>

            <form name="loginForm" novalidate role="form" ng-submit="vm.login()">
                <fieldset><input name="userName" type="email" placeholder="Username" ng-model="vm.loginData.userName" required><i class="fa fa-user"></i></fieldset>
                <fieldset><input name="password" type="password" placeholder="Password" ng-model="vm.loginData.password" required><i class="fa fa-unlock-alt"></i></fieldset>
                <label><input type="checkbox" />Remember me</label>
                <button type="submit" class="blue" ng-disabled="loginForm.$invalid">
                    LOG IN
                    <span ng-show="vm.loading && loginForm.$valid"><i class="fa fa-refresh fa-spin-custom"></i></span>
                </button>
            </form>

            <a ui-sref="forgotPassword" title="">Forgot Password?</a>
        </div>
        <!--<ul class="reg-social-btns">
            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-github"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
        </ul>-->
        <span>Powered by <a href="http://www.netrifik.com">Netrifik Solutions</a></span>
    </div>

    <div class="clock" date-widget>
        <div id="Date"></div>

        <ul>
            <li id="hours"> </li>
            <li class="point">:</li>
            <li id="min"> </li>
            <li class="point">:</li>
            <li id="sec"> </li>
        </ul>

    </div>
</div><!-- Log in Sec -->

